.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
_rel/
emq_sn.d
logs/
.erlang.mk/
data/
.idea/
*.iml
*.d

test/intergration_test/emq-relx
test/intergration_test/paho.mqtt-sn.embedded-c
test/intergration_test/client/*.exe
test/intergration_test/client/*.txt

