.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
_rel/
emqx_sn.d
logs/
.erlang.mk/
data/
.idea/
*.iml
*.d

intergration_test/emqx-rel/
intergration_test/paho.mqtt-sn.embedded-c/
intergration_test/client/*.exe
intergration_test/client/*.txt
.DS_Store
