
{release, {emqttd_sn, "0.1"}, [
    sasl,
    eldap,
    os_mon,
    runtime_tools,
    {mnesia, load},
    esockd,
    emqttd,
    emqttd_sn
]}.
{extended_start_script, true}.
{sys_config, "rel/sys.config"}.
{vm_args, "rel/vm.args"}.

{overlay, [
    {template, "etc/emqttd_sn.conf", "etc/emqttd_sn.conf"}
]}.
