
{release, {emqttd_sn, "0.2"}, [
    sasl,
    os_mon,
    runtime_tools,
    {mnesia, load},
    emqttd,
    emqttd_sn
]}.

{extended_start_script, true}.

{sys_config, "rel/sys.config"}.

{vm_args, "rel/vm.args"}.

{overlay, [
    {template, "etc/emqttd.conf", "etc/emqttd.conf"},
    {template, "etc/emqttd_sn.conf", "etc/emqttd_sn.conf"}
]}.
