[

{sasl, [ {sasl_error_logger, {file, "log/emqtt_sn_sasl.log"}} ]},

{lager, [
  {colored, true},
  {async_threshold, 5000},
  {error_logger_redirect, false},
  {crash_log, "log/emqtt_sn_crash.log"},
  {handlers, [
    {lager_console_backend, debug},
    %%NOTICE: Level >= error
    %%{lager_emqtt_backend, error},
    {lager_file_backend, [
        {formatter_config, [time, " ", pid, " [",severity,"] ", message, "\n"]},
        {file, "log/emqtt_sn_error.log"},
        {level, error},
        {size, 104857600},
        {date, "$D0"},
        {count, 30}
    ]}
  ]}
]},

{emqttd, [{conf, "etc/emqtt.conf"}]},

{emqtt_sn, [{conf, "etc/emqtt_sn.conf"}]}

].

